<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link rel="icon" type="image/png" href="imagenes/logo.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                
                <div class="titulo-pagina"><%= question.text %></div>

                <div class="panel-listado-preguntas">
                    
                    <div class="listado-respuestas-propias">
                        <% question.answers.forEach( answer => { %>
                            <form class="pregunta">
                                <input type="hidden" name="id_answer" value="answer.id">
                                <input class="radio-input-pregunta" type="radio"><%= answer.text %>
                            </form>
                        <% }); %>
                        <div class="otra-pregunta">
                                <input class="radio-input-pregunta" type="radio" name="gender"> <p>Otra:</p>
                                <input class="input-nueva-respuesta" type="text">              
                        </div> 
                        <div class="panel-inferior-botones">
                            <form method="POST" action="">
                                <input type="hidden" value="<%= answer.text %>">
                                <button type="submit" class="boton-responder-pregunta contenido-centrado"> Responder</button>
                            </form>
                            <a href="one_question" class="boton-cancelar contenido-centrado"> Cancelar</a>
                         </div>
                    </div>
                    
                </div>              
            </div>        

    </body>

 </html>