<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                
                <div class="titulo-pagina"><%= text_question %></div>

                <div class="panel-listado-preguntas">
                    <div class= "panel-superior-respuestas">                     
                        <p>¿Qué crees que opina <b><%= nameOfTheFriend %></b>?</p>
                    </div>
                    <div class="listado-respuestas">
                        <% answers.forEach( answer => { %>
                            <form method="POST" action="answered_question_for_friend">
                                <div class="pregunta">
                                    <input type="hidden" name="id_answer" value="<%= answer.id %>">
                                    <input class="radio-input-pregunta" type="radio" name="answer" value="<%= answer.id %>"><%= answer.text %>
                                    <input type="hidden" name="emailFriend" value="<%= emailFriend %>">
                                    <input type="hidden" name="textAnswerOfTheFriend" value="<%= textAnswerOfTheFriend %>">
                                    <input type="hidden" name="idAnswerOfTheFriend" value="<%= idAnswerOfTheFriend %>">
                                </div>
                        <% }); %>
                        <div class="panel-inferior-botones-responder-pregunta">
                            <button type="submit" class="boton-responder-pregunta contenido-centrado"> Responder</button>
                            <a href="one_question" class="boton-cancelar contenido-centrado"> Cancelar</a>
                        </form>
                        
                    </div>
                    
                </div>              
            </div>        

    </body>

 </html>