<!DOCTYPE html>
<html lang="es">
   <head>
      <title>FaceBluff</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link href="/css/style.css" rel="stylesheet" media="screen"/>
      <link rel="icon" type="image/png" href="imagenes/logo.png"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>
   <body class="fondo">
      <div>
         <%- include("header") %>
         <%- include("nav") %>

         <div class="busquedaDeAmigos">    
            <form method="POST" action="search">
                <input type="text" placeholder="Buscar amigo por nombre" name="searchText">    
                <button type="submit" class="botonBuscarAmigo contenido-centrado"><i class="material-icons">
                        search
                        </i></button>
               </form>              
         </div>
         <div class="panel-amigos">
            <ul class="tabs">
               <li class="tab">
                  <input type="radio" name="tabs" checked="checked" id="tab1" />
                  <label for="tab1">Solicitudes de amistad</label>
                  <div id="tab-content1" class="content">
                  
                     <div class="solicitudesDeAmistad">
                        <% friendRequests.forEach(friendRequest => { %>
                           <form method="POST" action="accept_or_decline_friend_request" class="solicitudDeAmistad">
                              <img class="fotoPerfilAmigo" src="/users/profile_img/<%= friendRequest.profile_img %>">
                              <a href="my_friend_profile" class="nombre-amigo contenido-centrado"><%= friendRequest.name %></a>
                              <input type="hidden" value="<%= friendRequest.email %>" name="emailDestination">

                              <button type="submit" class="botonAceptarSolicitudAmistad contenido-centrado">Aceptar</button>
                              <button type="" class="botonRechazarSolicitudAmistad contenido-centrado">Rechazar</a>  
                           </form> 
                        <% }); %>
                        
                     </div>
                  </div>
               </li>
               <li class="tab">
                  <input type="radio" name="tabs" id="tab2" />
                  <label for="tab2">Amigos</label>   
                  <div id="tab-content2" class="content">                     
                     <div class="misAmigos">
                        <% friends.forEach(friend => { %>  
                           <form method="POST" action="my_friend_profile" class="infoAmigo">
                              <img class="fotoPerfilAmigo" src="/users/profile_img/<%= friend.profile_img %>">
                              <input type="hidden" value="<%= friend.email %>" name="emailDestination">
                              <a href="my_friend_profile" class="nombre-amigo contenido-centrado"><%= friend.name %></a>
                           </form>
                        <% }); %>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </body>
</html>