<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link rel="icon" type="image/png" href="imagenes/logo.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                
                <div class="titulo-pagina">MODIFICAR DATOS DE USUARIO</div>

                <div class="panel-modificar-perfil">
                    <div class="imagen-perfil">                           
                        <img src="/users/profile_img/<%= profile_img %>">                  
                    </div> 
                    
                   <form method="POST" action="modify_profile" enctype="multipart/form-data" class="formulario-modificar-perfil">
                        <div class="campo-formulario-modificacion-perfil"> 
                            <label class="label-formulario-modificacion-perfil">Email: </label>               
                            <input class="input-modificar-perfil" type="text" name="email" value="<%= userEmail %>" disabled><br>    
                        </div>  

                        <div class="campo-formulario-modificacion-perfil">
                            <label class="label-formulario-modificacion-perfil">Contraseña: </label>                    
                            <input class="input-modificar-perfil" type="text" name="password" value="<%= password %>"><br>    
                        </div>

                        <div class="campo-formulario-modificacion-perfil">
                            <label class="label-formulario-modificacion-perfil">Nombre Completo: </label>                   
                            <input class="input-modificar-perfil" type="text" name="name" value="<%= name %>"><br><br>
                        </div>

                        <div class="campo-formulario-modificacion-perfil">
                            <label class="label-formulario-modificacion-perfil">Género: </label>  
                            <% if (gender == 'Hombre') {%>
                                <input type="radio" name="gender" value="Masculino" checked> Masculino
                                <input type="radio" name="gender" value="Femenino"> Femenino
                                <input type="radio" name="gender" value="Otro"> Otro <br>
                            <% } else if(gender == 'Mujer') { %>  
                                <input type="radio" name="gender" value="Masculino" > Masculino
                                <input type="radio" name="gender" value="Femenino" checked> Femenino
                                <input type="radio" name="gender" value="Otro"> Otro <br> 
                            <% } else { %>
                                <input type="radio" name="gender" value="Masculino"> Masculino
                                <input type="radio" name="gender" value="Femenino"> Femenino
                                <input type="radio" name="gender" value="Otro" checked> Otro <br> 
                            <% } %>
                        </div>

                        <div class="campo-formulario-modificacion-perfil">
                            <label class="label-formulario-modificacion-perfil">Fecha de Nacimiento: </label>   
                            <input class="input-modificar-perfil" type="date" name="birth_date" value="<%= birth_date %>" ><br>
                        </div>

                        <div class="campo-formulario-modificacion-perfil">
                            <label class="label-formulario-modificacion-perfil">Imagen de Perfil: </label> 
                            <input  type="file" class="inputfile" name="profile_img" placeholder="Seleccionar archivo" accept=".jpg, .jpeg, .png">
                        </div>

                        <div class="campo-formulario-modificacion-perfil">
                            <button type="submit" class="boton-aceptar-modificacion-perfil">Modificar</button>
                            <a href="my_profile" class="boton-cancelar-modificacion-perfil contenido-centrado">Cancelar</a>
                        </div>
                   </form>
                </div>              
            </div>        

    </body>

 </html>