<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link rel="icon" type="image/png" href="imagenes/logo.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body class="fondo">
            <div>
                <div class="header">
                    <div class="logo"> </div>  
                    <div class="informacion-nav">
                        <div class="panel-izq-nav-imagen">
                                <% if (profile_img) { %>                        
                                    <img class="imagen-perfil-header" src="/users/profile_img/<%= profile_img %>">                  
                                <% } %>
                        </div>
                        <div class="panel-der-nav-datos">
                           <span class="puntuacion">Puntos: <%= points %></span>
                           <a class="boton-desconectar contenido-centrado" href="logout">Desconectar</a>
                        </div>
                     </div>
                </div>
                
                <div class ="nav">
                    <a href="#">Perfil</a>
                    <a href="friends">Amigos</a>
                    <a href="#">Preguntas</a>
                </div>
                <div class="paginaPerfil-titulo">TU PERFIL</div>

                <div class="panel-perfil">
                   
                    <div class="imagen-perfil">
                            <% if (profile_img) { %>                        
                                <img  src="/users/profile_img/<%= profile_img %>">                  
                            <% } %>
                    </div>   

                    <button type="submit"></button> <i class="material-icons boton-modificar-perfil">edit</i>                      
                    <div class="perfil-contenido">
                        <div class="perfil-contendido-titulo"><%= name %></div>
                        <div class="perfil-contendido-titulo"><%= age %> años</div>  
                        <div class="perfil-contendido-titulo"><%= gender %></div>       
                        <div class="perfil-contendido-titulo"><%= points %> puntos</div>         
                    </div>
                </div>              
            </div>        

    </body>

 </html>