<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link rel="icon" type="image/png" href="imagenes/logo.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    </head>
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                
                <% if (profile_modifiable) { %>
                    <div class="titulo-pagina">TU PERFIL</div>
                <% } else { %>
                    <div class="titulo-pagina">Perfil de <%= name %></div>
                <% } %> 
                <div class="panel-perfil animated slideInDown">
                    <div class="imagen-perfil">                                           
                        <img  src="/users/profile_img/<%= profile_img %>">                  
                    </div>   

                    <% if (profile_modifiable) { %>
                        <a href="modify_profile"><i class="material-icons boton-modificar-perfil">edit</i></a>      
                    <% } %>                 
                    
                    <div class="perfil-contenido">
                        <div class="centrar-datos-perfil">
                            <div class="perfil-contenido-titulo"><i class="material-icons">bubble_chart</i> Nombre: </div>
                            <p class="perfil-contenido-datos"><%= name %></p>
                         </div>
                        
                         <% if (!isNaN(age)) { %>
                            <div class="centrar-datos-perfil">
                                <div class="perfil-contenido-titulo"><i class="material-icons">bubble_chart</i> Edad:</div>  
                                <p class="perfil-contenido-datos"><%= age %> años</p>
                            </div>
                        <% } %>

                        <div class="centrar-datos-perfil">
                            <div class="perfil-contenido-titulo"><i class="material-icons">bubble_chart</i> Género: </div>  
                            <p class="perfil-contenido-datos"><%= gender %> </p>
                        </div>
                        <div class="centrar-datos-perfil">
                            <div class="perfil-contenido-titulo"><i class="material-icons">bubble_chart</i> Puntos: </div> 
                            <p class="perfil-contenido-datos"><%= points %> </p>
                        </div>  
                    </div>


                    
                </div> 
                
                <%- include("photo_gallery") %>
                   
            </div>        
    </body>
 </html>