<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link rel="icon" type="image/png" href="imagenes/logo.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                
                <div class="paginaPerfil-titulo">TU PERFIL</div>

                <div class="panel-perfil">
                    <div class="imagen-perfil">                                           
                        <img  src="/users/profile_img/<%= profile_img %>">                  
                    </div>   

                    <% if (profile_modifiable) { %>
                        <a href="modify_profile"><i class="material-icons boton-modificar-perfil">edit</i></a>      
                    <% } %>                 
                    
                    <div class="perfil-contenido">
                        <div class="perfil-contenido-titulo"><%= name %></div>
                        <div class="perfil-contenido-titulo"><%= age %> años</div>  
                        <div class="perfil-contenido-titulo"><%= gender %></div>       
                        <div class="perfil-contenido-titulo"><%= points %> puntos</div>         
                    </div>
                </div>              
            </div>        

    </body>

 </html>