
<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body>
        <div class="contenedor">
            <div class="header">
                <div class="logo">
                
                </div>
            </div>
            
            <div class="panelNuevoUsuario">
              <h1>Nuevo Usuario</h1>    
                           
                <form method="POST" action="new_user" class="formulario-nuevo-usuario" enctype="multipart/form-data">              
                    
                    <div class=campo-formulario-nuevo-usuario>
                        <label class="textoRegistro">Email: </label>               
                        <input class="input-nuevo-usuario" type="text" name="email" placeholder="example@facebluff.com">
                    </div>

                    <% if (errores != null && errores.email) { %>
                        <span class="mensajes-error-nuevo-usuario"><%= errores.email.msg %></span>
                    <% } %>                  

                    <div class="campo-formulario-nuevo-usuario">
                        <label class="textoRegistro">Contraseña: </label>                    
                        <input class="input-nuevo-usuario" type="password" name="password" placeholder="Min. 5 letras y un número al final">
                    </div>

                    <% if (errores != null && errores.password) { %>
                        <span class="mensajes-error-nuevo-usuario"><%= errores.password.msg %></span>
                    <% } %>  

                    <div class="campo-formulario-nuevo-usuario">
                        <label class="textoRegistro">Nombre Completo: </label>                   
                        <input class="input-nuevo-usuario" type="text" name="name" placeholder="Nombre Completo">
                    </div>

                    <% if (errores != null && errores.name) { %>
                        <span class="mensajes-error-nuevo-usuario"><%= errores.name.msg %></span>
                    <% } %>  

                    <div class="campo-formulario-nuevo-usuario">
                        <div class="div-texto-genero">
                            <label class="textoRegistro">Género: </label>
                         </div>
                        <div class="div-usuario-genero"> 
                            <div>
                                <input type="radio" name="gender" value="Masculino"> Masculino
                            </div>  
                            <div>
                                <input type="radio" name="gender" value="Femenino"> Femenino
                            </div>  
                            <div>
                             <input type="radio" name="gender" value="Otro"> Otro 
                            </div>  
                        </div> 
                    </div>

                    <% if (errores != null && errores.gender) { %>
                        <span class="mensajes-error-nuevo-usuario"><%= errores.gender.msg %></span>
                    <% } %> 
                    
                    <div class="campo-formulario-nuevo-usuario">
                        <label class="textoRegistro">Fecha de Nacimiento: </label>   
                        <input class="input-nuevo-usuario" type="date" name="birth_date" placeholder="dd/mm/aaaa" >
                    </div>

                    <% if (errores != null && errores.birth_date) { %>
                        <span class="mensajes-error-nuevo-usuario"><%= errores.birth_date.msg %></span>
                    <% } %> 

                    <div class="campo-formulario-nuevo-usuario">
                        <label class="textoRegistro label-imagen-perfil">Imagen de Perfil: </label> 
                        <input  type="file" name="profile_img" placeholder="Seleccionar archivo" accept=".jpg, .jpeg, .png" >
                    </div>
    
                    <button type="submit" class="boton-crear-usuario">Crear Usuario</button>              
                </form>
                  <div class="registro">
                        
                        <a href="/">Volver a iniciar sesión</a>
                    </div>
            </div>
        </div>    

    </body>
</html>