<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                
                <div class="titulo-pagina"><%= text_question %></div>

                <div class="panel-respuestas-amigos">
                    <% if (textAnswer == null) { %>
                        <form method="POST" action="answer_question_for_myself" class= "panel-boton-contestar-pregunta">
                            <p>No has contestado a esta pregunta.</p>
                            <input type="hidden" name="delete" value="false">
                            <input type="hidden" name="id_question" value="<%= id_question %>">
                            <input type="hidden" name="text_question" value="<%= text_question %>">
                            <button type="submit" class="boton-contestar-pregunta contenido-centrado"> Contestar pregunta</button>
                        </form>
                    <% } else { %>
                        
                        <form method="POST" action="answer_question_for_myself" class= "panel-boton-contestar-pregunta">
                            <p>Tu respuesta a esta pregunta es:  <%= textAnswer %>.</p>
                            <input type="hidden" name="delete" value="true">
                            <input type="hidden" name="id_question" value="<%= id_question %>">
                            <input type="hidden" name="text_question" value="<%= text_question %>">
                            <button type="submit" class="boton-contestar-pregunta contenido-centrado"> Cambiar respuesta</button>
                        </form>
                    <% } %>


                    <div class="respuestas-amigos">
                            
                            <% if(listOfFriendsThatHaveAnswered.length != 0){ %>
                                <p>Los siguientes amigos han contestado a esta pregunta:</p>
                                <% listOfFriendsThatHaveAnswered.forEach(friendData => { %>
                                <form method="POST" action="answer_question_for_friend" class="respuesta-amigo">
                                    <img class="fotoPerfilAmigo" src="/users/profile_img/<%= friendData.profile_img %>">
                                    <span id="nombre-amigo-one-question" class="nombre-amigo contenido-centrado"><%= friendData.name %></span>
                                    <input type="hidden" name="friendEmail" value="<%= friendData.email %>">
                                    <input type="hidden" name="friendName" value="<%= friendData.name %>">
                                    <input type="hidden" name="id_answer_of_the_friend" value="<%= friendData.idAnswer %>">
                                    <%  if (friendData.correct == null) { %>
                                        <button type="submit" class="boton-adivinar-respuesta-amigo contenido-centrado">Adivinar</a>  
                                    <% } else if (friendData.correct == 1) { %>
                                        <p class="green contenido-centrado">Has acertado</p>
                                    <% } else { %>
                                        <p class="red contenido-centrado">Has fallado</p>
                                    <% } %>
                                </form>
                                <% }); %>
                            <% } else { %>
                                <p> Aun no ha contestado ningun amigo tuyo!</p>
                            <% } %>    
                    </div>
                </div>    
            </div>        
    </body>
 </html>