
      <div id="titulo-pagina-galeria-imagenes" class="titulo-pagina">GALERIA DE IMAGENES</div>
<div class="panel-galeria animated slideInDown">
  
        <% if (profile_modifiable) { %>
            <form method="POST" action="/users/upload_image"  enctype="multipart/form-data" id="cabecera-galeria" class="formulario-subida-imagenes">   
               
                    <div class="campo-formulario-subida-imagenes">
                        Descripción: <input type="text" name="description">
                       
                    </div>

            
                <input  type="file" class="inputfile" name="gallery_image" placeholder="Seleccionar archivo" accept=".jpg, .jpeg, .png">
                <% if (errores != null && errores.gallery_image) { %>
                    <span class="red mensajes-error-subida-imagenes"><%= errores.gallery_image.msg %></span>
                <% } %>
                <button type="submit" class="boton-subir-foto"> Subir foto</button>
                <% if (errores != null && errores.description) { %>
                    <div class="red "><%= errores.description.msg %></div>
                <% } %>
                <% if (msg_error) { %>
                    <div class="red">  <%= msg_error %> </div>
                <% } %>
            </form> 
            <div class="galeria-imagenes">
                    <% images.forEach(image =>{ %>
                        <div class="imagen-de-la-galeria tooltip">
                            <img  src="/users/profile_img/<%= image.image %>">  
                            <span class="tooltiptext"> <%= image.description %></span>     
                        </div>
                    <% });%>
                </div>
        <% } else { %> 
         <div class= "formulario-subida-imagenes"></div>
            <div class="galeria-imagenes">
                <% images.forEach(image =>{ %>
                    <div class="imagen-de-la-galeria tooltip">
                        <img  src="/users/profile_img/<%= image.image %>">  
                        <span class="tooltiptext"> <%= image.description %></span>     
                    </div>
                <% });%>
            </div>
            <% } %>
</div>
