<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link rel="icon" type="image/png" href="imagenes/logo.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body class="fondo">
            <div>
                <div class="header">
                    <div class="logo"> </div>  
                    <div class="informacion-nav">
                        <div class="panel-izq-nav-imagen">
                                <% if (profile_img) { %>                        
                                    <img class="imagen-perfil-header" src="/users/profile_img/<%= profile_img %>">                  
                              
                                <% } %>
                        </div>
                        <div class="panel-der-nav-datos">
                           <span class="puntuacion">Puntos: <%= points %></span>
                           <a class="boton-desconectar contenido-centrado" href="logout">Desconectar</a>
                        </div>
                     </div>
                </div>
                
                <div class ="nav">
                    <a href="#">Perfil</a>
                    <a href="friends">Amigos</a>
                    <a href="#">Preguntas</a>
                </div>
                <div class="paginaPerfil-titulo">Resultados de búsqueda : <%= searchText %></div>

                <div class="panel-perfil">           
                    <div class="perfil-contenido">
                            <% users.forEach(user => { %> 
                                <% if (user.email != userEmail) { %>
                                    <div class="info-amigo-busqueda">
                                        <img class="fotoPerfilAmigo" src="/users/profile_img/<%= user.profile_img %>">
                                        <span class="nombre-amigo contenido-centrado"><%= user.name %></span>
                                        <a href="" class="botonSolicitudAmistad contenido-centrado">Solicitar amistad</a> 
                                    </div>
                                <% } %> 
                            <% }); %>

                    </div>
                </div>              
            </div>        

    </body>

 </html>