<!DOCTYPE html>
	<html lang="es">
	<head>
		<title>FaceBluff</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/style.css" rel="stylesheet" media="screen"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </head>
    <body class="fondo">
            <div>
                <%- include("header") %>
                <%- include("nav") %>
                
                
                <div id="titulo-pagina-resultados-busqueda" class="titulo-pagina">Resultados de búsqueda : <%= searchText %></div>

                <%- include("flash") %>

                <div class="panel-perfil">           
                    <div class="resultado-busqueda-amigos">
                        <% if (users.length > 0) { %> 
                            <% users.forEach(user => { %>                                                       
                                <form method="POST" action="new_friend_request" class="info-amigo-busqueda">
                                    <img class="fotoPerfilAmigo" src="/users/profile_img/<%= user.profile_img %>">
                                    <button type="submit" value="profile_link" name="request_friendship_button" class="nombre-amigo contenido-centrado"><%= user.name %></button>
                                    <input type="hidden" value="<%= user.email %>" name="emailDestination">
                                    <button type="submit" value="request_friendship" name="request_friendship_button" class="botonSolicitudAmistad contenido-centrado">Solicitar amistad</button> 
                                </form>
                            <% }); %>    
                        <% } else {  %>
                            <h2 class="no-resultados-busqueda-amigos">No se han encontrado resultados</h2>
                        <% } %> 
                    </div>
                </div>              
            </div>        

    </body>

 </html>